<nav class="navbar-wrapper">
  <div class="navbar-container">
    <ul class="navbar-list">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Home</a>
      </li>
      @if (isLoggedIn()) {
        <li class="nav-item">
          <a routerLink="/channel" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Channel</a>
        </li>
      }
    </ul>
    <ul class="navbar-list navbar-right">
      @if (isLoggedIn()) {
        <li class="nav-item">
          <a routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link" (click)="logout()">Log Out</a>
        </li>
      } @else {
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Log in</a>
        </li>
      }
    </ul>
  </div>
</nav>

<router-outlet />

<footer class="footer">
  <div class="footer-container">
    <label class="footer-container-text">Designed by SM team</label>
  </div>
</footer>