<nav class="navbar navbar-expand-sm navbar-light bg-dark">
  <div class="container-fluid ">
    <li class="nav-item">
      <a routerLink="/home"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="nav-link">Home</a>
    </li>
    @if (this.isLoggedIn())
    {
      <li class="nav-item">
        <a routerLink="/channel"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="nav-link">Channel</a>
      </li>
    }
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        @if (this.isLoggedIn())
        {
        <li class="nav-item">
          <a routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-link right"
          (click)="logout()">Log Out</a>
        </li>
        } @else {
          <li class="nav-item">
            <a routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link right">Log in</a>
          </li>
        }
      </ul>	  
    </div>
  </div>
</nav>

<!-- The routed views render in the <router-outlet>-->
  <router-outlet />
